In [134]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [135]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import RandomForestRegressor
import pandas as pd
import numpy as np

In [136]:
df = pd.read_csv('/content/drive/MyDrive/CSE322(ML & DM L)/Churn_Modelling-m.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39.0,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35.0,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36.0,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42.0,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28.0,4,130142.79,1,1,0,38190.78,0

In [137]:
from sklearn.preprocessing import LabelEncoder

In [138]:
le = LabelEncoder()

In [139]:
df.isnull().mean()*100

RowNumber          0.00
CustomerId         0.00
Surname            0.00
CreditScore        0.00
Geography          0.00
Gender             0.60
Age                0.21
Tenure             0.00
Balance            0.00
NumOfProducts      0.00
HasCrCard          0.00
IsActiveMember     0.00
EstimatedSalary    0.00
Exited             0.00
dtype: float64

In [140]:
df['Gender'] = le.fit_transform(df.Gender)

In [141]:
df['Gender'].value_counts().sort_values(ascending = False)

1    5418
0    4522
2      60
Name: Gender, dtype: int64

In [142]:
df['Gender'] = [np.nan if x == 2 else x for x in df['Gender']]

In [143]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,0.0,42.0,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,0.0,41.0,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,0.0,42.0,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,0.0,39.0,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,0.0,43.0,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,1.0,39.0,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,1.0,35.0,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,0.0,36.0,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,1.0,42.0,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,0.0,28.0,4,130142.79,1,1,0,38190.78,0

In [144]:
df['Gender'].value_counts()

1.0    5418
0.0    4522
Name: Gender, dtype: int64

In [145]:
imputer = IterativeImputer(random_state = 100)

In [146]:
df_train = pd.DataFrame(df[['Exited', 'Gender', 'Balance']])

In [147]:
df_train

      Exited  Gender    Balance
0          1     0.0       0.00
1          0     0.0   83807.86
2          1     0.0  159660.80
3          0     0.0       0.00
4          0     0.0  125510.82
...      ...     ...        ...
9995       0     1.0       0.00
9996       0     1.0   57369.61
9997       1     0.0       0.00
9998       1     1.0   75075.31
9999       0     0.0  130142.79

[10000 rows x 3 columns]

In [148]:
df_train = imputer.fit_transform(df_train)

In [149]:
df_train

array([[1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 8.3807860e+04],
       [1.0000000e+00, 0.0000000e+00, 1.5966080e+05],
       ...,
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 1.0000000e+00, 7.5075310e+04],
       [0.0000000e+00, 0.0000000e+00, 1.3014279e+05]])

In [150]:
df1 = pd.DataFrame(df_train[:,1].round(), columns=['Gender_en'])

In [151]:
df1

      Gender_en
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
...         ...
9995        1.0
9996        1.0
9997        0.0
9998        1.0
9999        0.0

[10000 rows x 1 columns]

In [152]:
df = pd.concat([df,df1],axis = 1)

In [153]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_en
0,1,15634602,Hargrave,619,France,0.0,42.0,2,0.00,1,1,1,101348.88,1,0.0
1,2,15647311,Hill,608,Spain,0.0,41.0,1,83807.86,1,0,1,112542.58,0,0.0
2,3,15619304,Onio,502,France,0.0,42.0,8,159660.80,3,1,0,113931.57,1,0.0
3,4,15701354,Boni,699,France,0.0,39.0,1,0.00,2,0,0,93826.63,0,0.0
4,5,15737888,Mitchell,850,Spain,0.0,43.0,2,125510.82,1,1,1,79084.10,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,1.0,39.0,5,0.00,2,1,0,96270.64,0,1.0
9996,9997,15569892,Johnstone,516,France,1.0,35.0,10,57369.61,1,1,1,101699.77,0,1.0
9997,9998,15584532,Liu,709,France,0.0,36.0,7,0.00,1,0,1,42085.58,1,0.0
9998,9999,15682355,Sabbatini,772,Germany,1.0,42.0,3,75075.31,2,1,0,92888.52,1,1.0
9999,10000,15628319,Walker,792,France,0.0,28.0,4,130142.79,1,1,0,38190.78,0,0.0

In [154]:
df['Gender_en'] = ['Female' if x == 0.0 else 'Male' for x in df['Gender_en']]

In [155]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Gender_en'],
      dtype='object')

In [156]:
df = df[['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography','Gender_en', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited']]

In [157]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender_en,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39.0,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35.0,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36.0,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42.0,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28.0,4,130142.79,1,1,0,38190.78,0

In [158]:
df.to_csv('Churn_m.csv')